<div id="sitemap">
  <div id="sitemap-inner" class="container">
    <!-- Sitemap Navigation -->
    <div class="region region-sitemap">
      <section id="block-menu-block-1" class="block block-menu-block">
        <!-- Main Menu Wrapper -->
        <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-1">
          <ul class="menu nav">

            <!-- About Section -->
            <li class="first expanded"><a href="{{'/about' | relative_url }}">About</a>
              <ul class="menu nav">
                <li class="first leaf"><a href="{{'/about' | relative_url }}">Introduction</a></li>
                <li class="leaf"><a href="{{'/about/definitions' | relative_url }}">Definitions</a></li>
                <li class="leaf"><a href="{{'/about/goals' | relative_url }}">Goals</a></li>
                <li class="leaf"><a href="{{'/about/structure' | relative_url }}">Structure</a></li>
                <li class="leaf has-children"><a
                    href="{{'/about/technical-committees' | relative_url }}">Technical Committees</a></li>
                <li class="leaf"><a href="{{'/about/major-work-projects' | relative_url }}">Major Work
                    Projects</a></li>
                <li class="leaf has-children"><a href="{{'/about/policies' | relative_url }}">Policies</a>
                </li>
                <li class="leaf"><a href="{{'/about/board-directors' | relative_url }}">Board of
                    Directors</a></li>
                <li class="leaf"><a
                    href="{{'/about/liaisons-and-relationships' | relative_url }}">Liaisons and Relationships</a></li>
                <li class="last leaf"><a href="{{'/about/history' | relative_url }}">History</a></li>
                <li class="last leaf"><a
                  href="{{'/about/media-resources' | relative_url }}">Media
                    Resources</a></li>
              </ul>
            </li>

            <!-- Membership Section -->
            <li class="expanded"><a href="{{'/membership' | relative_url }}">Membership</a>
              <ul class="menu nav">
                <li class="first leaf"><a href="{{'/membership' | relative_url }}">CalConnect Members</a>
                </li>
                <li class="leaf"><a href="{{'/membership/you-and-calconnect' | relative_url }}">You and
                    CalConnect?</a></li>
                <li class="leaf"><a href="{{'/membership/why-join' | relative_url }}">Why Join?</a></li>
                <li class="leaf"><a href="{{'/membership/who-may-join' | relative_url }}">Who May
                    Join?</a></li>
                <li class="leaf"><a
                    href="{{'/membership/membership-benefits' | relative_url }}">Membership Benefits</a></li>
                <li class="leaf"><a
                    href="{{'/membership/membership-categories-and-fees' | relative_url }}">Membership Categories and Fees</a></li>
                <li class="leaf"><a
                    href="{{'/membership/membership-agreement' | relative_url }}">Membership Agreement</a></li>
                <li class="leaf"><a href="{{'/membership/code-conduct' | relative_url }}">Code of
                    Conduct</a></li>
                <li class="leaf"><a
                    href="{{'/membership/membership-application' | relative_url }}">Membership Application</a></li>
                <li class="leaf"><a
                    href="{{'/membership/membership-fee-payment' | relative_url }}">Membership
                    Fee Payment</a></li>
                <li class="last leaf"><a
                    href="{{'/membership/distinguished-service-award' | relative_url }}">Distinguished Service Award</a>
                </li>
              </ul>
            </li>

            <!-- Events Section -->
            <li class="expanded"><a href="{{'/events' | relative_url }}">Events</a>
              <ul class="menu nav">
                <li class="first leaf has-children"><a href="{{'/events' | relative_url }}">Upcoming
                    Events</a></li>
                <li class="leaf"><a href="{{'/events/past-events' | relative_url }}">Past Events</a></li>
                <li class="leaf has-children"><a
                    href="{{'/events/events-activities' | relative_url }}">Events &
                    Activities</a></li>
                <li class="leaf has-children"><a
                    href="{{'/events/event-registration-payment' | relative_url }}">Event Registration & Payment
                    Options</a></li>
                <li class="leaf"><a href="{{'/events/event-reports' | relative_url }}">Event Reports</a>
                </li>
                <li class="last leaf"><a href="{{'/events/calendars' | relative_url }}">Calendars</a></li>
              </ul>
            </li>

            <!-- News Section -->
            <li class="expanded"><a href="{{'/news' | relative_url }}">News</a>
              <ul class="menu nav">
                <li class="first leaf"><a href="{{'/news' | relative_url }}">Latest News</a></li>
                <li class="leaf"><a href="{{'/news/press-releases' | relative_url }}">Press Releases</a>
                </li>
              </ul>
            </li>

            <!-- Resources Section -->
            <li class="expanded"><a href="{{'/resources' | relative_url }}">Resources</a>
              <ul class="menu nav">
                <li class="first leaf"><a href="{{'/resources' | relative_url }}">Resources</a></li>
                <li class="leaf"><a
                    href="{{'/resources/introduction-internet-calendaring' | relative_url }}">Introduction to Internet
                    Calendaring</a></li>
                <li class="leaf"><a href="https://devguide.calconnect.org/Appendix/Glossary/">Glossary</a>
                </li>
                <li class="leaf"><a href="{{'/resources/calendaring-standards' | relative_url }}">Index to
                    Calendaring Standards</a></li>
                <li class="leaf"><a
                    href="{{'/resources/7-things-you-should-know-about' | relative_url }}">7 Things You Should Know
                    About...</a></li>
                <li class="leaf"><a href="{{'/resources/getting-started' | relative_url }}">Getting
                    Started...</a></li>
                <li class="leaf"><a
                    href="{{'/resources/architectural-diagrams' | relative_url }}">Architectural Diagrams</a></li>
                <li class="last leaf"><a
                    href="https://standards.calconnect.org/public-review/">Public Review</a></li>
                <li class="leaf"><a
                    href="{{'/resources/presentations' | relative_url }}">Presentations</a>
                </li>
              </ul>
            </li>

            <!-- Contact Section -->
            <li class="last leaf footer-contact"><a href="{{'/contact' | relative_url }}">Contact</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Footer Section -->
<footer id="footer" role="contentinfo">
  <div id="footer-inner" class="container">
    <div class="region region-footer">
      <section id="block-block-3" class="block block-block">
        <div id="footer-left">
          Copyright © 2004-2024 CalConnect<sup>SM</sup>.
          <a href="{{'/contact' | relative_url }}">Contact Us</a> |
          <a href="{{'/about/policies/copyright-and-licensing' | relative_url }}">Copyright & Licensing</a>
        </div>
      </section>
    </div>
  </div>
</footer>