<nav class="deep-purple lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="/">CALCONNECT</a>
        
        

        <ul class="hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/membership/">Membership</a></li>
            <li><a href="/events/">Events </a></li>
            <li><a href="/news/">News</a></li>
            <li><a href="/resources/">Resources</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/membership/">Membership</a></li>
            <li><a href="/events/">Events </a></li>
            <li><a href="/news/">News</a></li>
            <li><a href="/resources/">Resources</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>