<header id="navbar" role="banner">
    <div id="navbar-inner" class="navbar container">
        <div class="navbar-header">
            <a class="logo navbar-btn pull-left" href="/" title="Home">
                <img src="https://www.calconnect.org/sites/all/themes/calconnect/logo.png" alt="Home">
            </a>


            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse">
            <nav role="navigation">
                <ul class="menu nav navbar-nav">
                    <li><a href="/about">About</a></li>
                    <li><a href="/membership">Membership</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/news" title="">News</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>